@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  /* Dark Slate/Black Background with subtle grid */
  background-color: #0a0a0a;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px);
  background-size: 30px 30px;
  font-family: var(--font-display);
  color: #f8fafc;
}

.shadow-hard {
  box-shadow: 4px 4px 0px 0px #000;
}

.shadow-hard-indigo {
  box-shadow: 4px 4px 0px 0px #4f46e5;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}