spring:
  application:
    name: pharos-server
  datasource:
    # Notice it starts with jdbc:postgresql:// and DOES NOT have the username/password in it
    url: jdbc:postgresql://ep-fancy-dust-aiy8bzpj-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner            # Paste just the username here
    password: npg_Y1Hc2qOpLgsI   # Paste just the password here
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080